version: '3.8'

services:
  # --- Banco de Dados ---
  mysql:
    image: mysql:8.0
    container_name: akeneo_db
    environment:
      MYSQL_ROOT_PASSWORD: akeneo_root
      MYSQL_USER: akeneo
      MYSQL_PASSWORD: akeneo
      MYSQL_DATABASE: akeneo_pim
    volumes:
      - akeneo_mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  # --- Akeneo PIM (Aplicação) ---
  pim:
    image: akeneo/pim-php-dev:8.1
    container_name: akeneo_app
    environment:
      APP_ENV: prod
      APP_DEBUG: 0
      APP_DATABASE_HOST: mysql
      APP_DATABASE_USER: akeneo
      APP_DATABASE_PASSWORD: akeneo
      APP_DATABASE_NAME: akeneo_pim
      # Seu ElasticSearch (Confirme se o IP mudou, se for estático mantenha)
      APP_ELASTICSEARCH_HOST: "69.62.100.94"
      APP_ELASTICSEARCH_PORT: "9200"
    ports:
      - "8085:80"
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - akeneo_uploads:/srv/pim/public/storage
      - akeneo_code:/srv/pim
    # REMOVIDO: O comando 'command: tail...' não existe mais aqui.
    # O container vai usar o comando padrão da imagem (Iniciar Apache)
    restart: unless-stopped

volumes:
  akeneo_mysql_data:
  akeneo_uploads:
  akeneo_code:
